<div class="account-pages my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-12 p-5">
                                <div class="mx-auto mb-5">
                                    <a routerLink="/account/login">
                                        <img src="assets/images/markisa_logo.png" alt="" height="48" />
                                    </a>
                                </div>

                                <h6 class="h5 mb-0 mt-4">Create your account</h6>
                                <p class="text-muted mt-1 mb-4">Create a free account and start using Markisa</p>

                                <form class="authentication-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
                                    <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                                    <div class="form-group">
                                        <label class="form-control-label">Email Address</label>
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-dual" data-feather="mail" appFeatherIcon></i>
                                                </span>
                                            </div>
                                            <input type="email" class="form-control" formControlName="email"
                                                   id="email"
                                                   placeholder="your@email.com"
                                                   [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required />
                                            <div class="invalid-feedback">
                                                <div>Email is required</div>
                                                <div>Email must be a valid email address</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-control-label">Full Name</label>
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-dual" data-feather="user" appFeatherIcon></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" formControlName="fullname"
                                                   id="fullname"
                                                   placeholder="Your full name"
                                                   [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" required />
                                            <div class="invalid-feedback">
                                                <div>Full Name is required</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-control-label">Company Name</label>
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-dual" data-feather="home" appFeatherIcon></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" formControlName="companyname"
                                                   id="companyname"
                                                   placeholder="Your company name"
                                                   [ngClass]="{ 'is-invalid': submitted && f.companyname.errors }" required />
                                            <div class="invalid-feedback">
                                                <div>Company Name is required</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-control-label">Phone number</label>
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-dual" data-feather="phone" appFeatherIcon></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" formControlName="phone"
                                                   id="phone"
                                                   placeholder="Phone number (Optional)"
                                                   [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                                            <div class="invalid-feedback">
                                                <div>Phone number is invalid</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-control-label">Password</label>
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-dual" data-feather="lock" appFeatherIcon></i>
                                                </span>
                                            </div>
                                            <input type="password" class="form-control" formControlName="password"
                                                   id="password"
                                                   placeholder="Password"
                                                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required />
                                            <div class="invalid-feedback">
                                                <div>Password is required</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mb-0 text-center">
                                        <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">
                            Already have account?
                            <a routerLink="/account/login" class="text-primary font-weight-bold ml-1">Login</a>
                        </p>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->